<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org"
      xmlns:xsi="http://w3.org"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<!-- ログの出力先（ターゲット）の設定 -->
	<targets>
		<!-- ファイルへの出力 -->
		<target xsi:type="File" name="serverlog"
            fileName="logs/serverlog-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

	</targets>

	<!-- どのログをどこに出すかのルール設定 -->
	<rules>
		<logger name="Microsoft.*" maxlevel="info" final="true"/>
		<!-- 全てのログ（Info以上）をinfofileに出力 -->
		<logger name="*" minlevel="info" writeTo="serverlog" />
	</rules>
</nlog>hok